.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
}
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}
@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 600px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

.gallery .pics:hover {
  filter: opacity(0.6);
}
/*modal*/
.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  background-color: #000000;
  justify-items: center;
  align-items: center;
  transform: scale(0);
  overflow: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal.open svg {
  position: fixed;
  width: 3rem;
  height: 3rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
}

.modal.open .close-icon {
  top: 10px;
  right: 10px;
}

.modal.open .prev {
  left: 10px;
}

.modal.open .next {
  right: 10px;
}
.modal-content img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 20px;
  box-sizing: border-box;
}
